<app-navbar></app-navbar>
<div>
    <table class="table table-bordered" style="background-color: #f1f1f1f1;">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Classe</th>
        </tr>
        <tr *ngFor="let eleve of lesEleves">
            <td>{{eleve.ideleve }} </td>
            <td>{{eleve.nom }} </td>
            <td>{{eleve.prenom }} </td>
            <td>{{eleve.adresse }} </td>
            <td>{{eleve.tel }} </td>
            <td>{{eleve.classe }} </td>
        </tr>
    </table>
</div>

